<div class="jumbotron">
    <h1>Create a new Project</h1>
</div>

{{ messages }}
<div class="container">
    <form role="form">
      <div class="form-group">
        <label for="name">Project name</label>
        <input type="text" class="form-control" ng-model="project.name" placeholder="Project Name">
      </div>
      <div class="form-group">
        <label for="LastName">Description</label>
        <textarea type="text" class="form-control" ng-model="project.description" placeholder="Project Description"></textarea>
      </div>
      <a type="submit" class="btn btn-default" ng-click="submit()">Submit</a>
    </form>
</div>

